<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Portal de notícias</title>
		</head>
	<body>

		<h1>Bem vindo a página inicial</h1>
		<div>
			<a href ='/noticias' class ='item'> Go to Noticias</a><br>
			<a href ='/noticia' class ='item'> Go to Noticia</a><br>
			<a href = '/formulario_inclusao_noticia' class= 'item'> Go to Form</a>
		</div>

	</body>
</html>